[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-random = "*"
pytest-testdox = "*"
pylint = "*"

[packages]
requests = "*"
bs4 = "*"
html5lib = "*"
hashlib = "*"

[requires]
python_version = "3.7"
